<!DOCTYPE html>
<html lang="en">
<head>
    <title>My articles</title>

    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--	Specifies the character encoding for the document.-->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!--	Defines a time interval for the document to refresh itself.-->
    <!--<meta http-equiv="refresh" content="30000">-->
    <meta name="keywords" content="Blog" />
</head>
<body>

</body>
</html>